.line {
  height: 1px;
  width: 100%;
  background-color: #ffc7d1;
}

.lineText {
  padding: 0 1rem;
  width: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: #ffffff;
  position: absolute;
  top: -20px;
  left: calc(50% - 8rem);
}
